.mimenu li{
   display:inline;
}
.master{
  height: 5px;
  border: 0;
  background-color: red;
}
.admin{
  height: 5px;
  border: 0;
  background: green;
}
.cliente{
  height: 5px;
  border: 0;
  background: blue;
}
#header-top {
	height: 40px;
	width: 100%;
	position: fixed;
	z-index: 1;
	background: #6ec5ff;
	border-bottom: 3px solid #0099ff;
}
#content {
	width: 1180px;
	min-height: 100%;
	margin: auto;
	position: relative;
	padding: 20px;
	padding-top: 50px;
	padding-bottom: -202px;
	padding-right: 50px;
}
